@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.blink_me {
            animation: blinker 0.5s linear infinite;
        }

        @keyframes blinker {
            50% {
                opacity: 0;
                color: #0f1518;
            }
        }

        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 3px solid rgb(56, 187, 126);
        }