
<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./assets/css/node_modules/bootstrap/dist/css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="./assets/css/bootstrap.css"> -->

    <link href="{% static 'mycss.css'%}" rel="stylesheet">

</head>


<body>
    <!-- header  -->
    <div style="background-color:rgb(255, 255, 255)">
        <div class="container-fluid text-uppercase  ">

            <div class="text-left p-3" style="background-color: rgb(255, 255, 255);color: #2f1166;">
                <div class="row">
                    <div class="col-md-2 px-2 d-flex justify-content-center"><img src="{% static 'img/logo.jpeg'%}" alt="" class="img rounded-circle " width="110rem">
                    </div>

                    <div class="col-md-7 px-2 align-left " style="font-family:  Roboto;">
                        <h4> Dr.LANKaPALLI BULLAYyA COLLEGE of
                            engineering<br>
                        </h4>
                        <div class="clss"
                            style="color: rgb(56, 187, 126);font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: bold;">
                            <h6>Sponsered by socity of collegiate Education<br>Approved by AICTE affiliated to Andhra
                                Univercity</h6>
                            <hr>

                        </div>
                    </div>
                    <div class="col-md-2 float-end py-4"
                        style="font-style: italic; font-weight: bold;">
                        <h6> EAPCET CODE/ECET </h6>
                        <div class="clss" style="color: rgb(56, 187, 126);">
                            <h4>DLBC</h4>
                        </div>
                    </div>
                <div class="col-md-1 float-end py-4 d-none d-md-block blink_me "
                        style="font-style: italic; font-weight: bold;">
                        <h6> years of excellency </h6>
                        <div class="clss" style="color: rgb(56, 187, 126);">
                            <h4>12</h4>
                        </div>
                    </div>

                </div>
                <a class="text-white" href="https://mdbootstrap.com/"></a>
            </div>
        </div>
    </div>
    <!-- end of header  -->

    <!-- navbar -->
    <nav id="navbar_top" class="shadow-sm pb-3 navbar sticky-top navbar-expand-md navbar-light bg-light ">
        <div class="container">
            <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-fill flex-wrap justify-content-center">
                    <li class="nav-item ">
                        <a class="nav-link active " aria-current="page" href="{% url 'ecehome'%}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="hod" tabindex="-1" aria-disabled="true">HOD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="faculty" tabindex="-1" aria-disabled="true">Faculty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="activities" tabindex="-1" aria-disabled="true">Activities</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">Departments

                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{% url 'csehome'%}">CSE</a></li>
                            <li><a class="dropdown-item" href="{% url 'civilhome'%}">CIVIL</a></li>

                            <li><a class="dropdown-item" href="{% url 'ecehome'%}">ECE</a></li>
                            <li><a class="dropdown-item" href="{% url 'eeehome'%}">EEE</a></li>

                            <li><a class="dropdown-item" href="{% url 'bshome'%}">BASIC SCIENCES</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">AICTE</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">AICTCE

                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="">Mandatory Discloser</a></li>
                            <li><a class="dropdown-item" href="">Feedback</a></li>
                            <li><a class="dropdown-item" href="">Anti- Ragging Committe</a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">Main Home</a>
                    </li>

                </ul>


            </div>
        </div>
    </nav>
    <!-- ending of navbar -->
    <!-- starting of body -->
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 ">
                <figure class="text-center">
                    <blockquote class="blockquote" style="font-family:  Roboto;">
                        <h2> PROFILE(ECE)</h2>

                    </blockquote>

                </figure>
                <div class="row">
                    <div class="col-12 p-2">
                        <p class="px-5">
                            The Department of Electronics and Communication Engineering was established simultaneously
                             with the genesis of the Dr. Lankapalli Bulllaya College of Engineering in 2010 with an annual
                              intake of 60 students. The department offers an under-graduate course of four-year duration
                               in Electronics & Communication Engineering. The proficient faculty members in the department 
                               impart High Quality Technical education to inquisitive students of technical education. Each
                                faculty member is actively involved in research work in his/her respective fields of specialization.<br><br>

                            The laboratories are well equipped with modern facilities that cater to the requirements of the university syllabus.
                             They are useful for conducting experiments in Basic & Advanced Electronics. The department encourages the
                              budding engineers to undertake several Projects and gain practical knowledge. The goal of the department
                               is to inculcate students with strong foundation in Analytical and Technical Skills. An incubation centre
                                has been setup with four wings (Electronics, Antennas, Signal Processing and Communication Systems) to
                                 encourage the students and develop their creative abilities in the field. And it also motivates them
                                  to undertake Mini Projects for making them employable to become prolific technocrats in industry.<br><br>
                            
                            The department has active interaction with reputed Technical Education institutes. It also endeavors to create
                             Promising Electronic and Communication Engineers who can fulfill the perennial needs of our modern society and
                              become instrumental in strengthening the economy of our nation. The faculty members are actively involved in
                               research in the areas such as Mobile Communications, Digital Communications, Antennas, Phased Array Radars,
                                Signal processing & high frequency communications, Fiber optic Communications, Instrumentation, VLSI and
                                 Microprocessors. In order to improve and update their technical knowledge, the students are encouraged
                                  to associate themselves with other Professional Technical Associations and Societies. It also suggests
                                   them take part in several Technical Events, Competitions, Seminars and Quizzes.<br><br>
                            
                            Alongside the curricular activities, students are motivated to take part in various co-curricular and extra-
                             curricular activities. The mentors in our Skill Development Centre mold their personalities with Soft Skills
                              Training. The department also provides proper guidance to the students to take up Graduate Aptitude Test for
                               Engineers (GATE) and Graduate Record Examination (GRE) during their final year study. The department aims at
                                100% employability and campus placement for all eligible candidates. Every year our students secure placements 
                                in top companies like TCS, AMAZON, TECH MAHINDRA, MEDHA SERVO etc.<br><br>
                        </p>
                        
                        <h5 class="p-3">
                            Department Vision:
                        </h5>
                        <p class="px-5">
                            The vision of the department is to instigate, cultivate and contribute to the welfare of society by empowering students
                             with latest tools and technologies in the field of Electronics and Communications Engineering.
                        </p>
                        <h5 class="p-3">
                            Department Mission:
                        </h5>
                        <br>
                        <ul class="px-5">
                            <li>
                                To Strengthen the basics & update the technical skills blended to the current trends in the field of Electronics & Communications Engineering.</li><br>
                            <li>
                                To Furnish the graduates with leadership and entrepreneurial knowledge & skills.</li><br>
                            <li>To Extend frontiers of cognizance through relevant & contextual research & development.</li><br>
                            <li>To Inculcate ethical behaviour which would serve the community at large.</li><br>
                            <li>Establish a unique learning environment to enable the students to face the challenges of the Electronics & Communications engineering field.</li><br>
                            <li>Enable students to develop skills to solve complex technological problems of current times and also provide a framework for promoting collaborative & multidisciplinary activities.</li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ending of body -->


    <!--  footer-->
    <section class="">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: rgb(44, 11, 119);">
            <!-- Grid container -->
            <div class="container p-4 pb-0">

                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!"
                        role="button"><i class="bi bi-facebook"></i></a>

                    <!-- Twitter -->
                    <a href="https://twitter.com/el_alturas" class="btn btn-social-icon btn-twitter"
                        style="background-color: #55acee;" href="#!" role="button"><i class="bi bi-twitter"></i></a>

                    <!-- Google -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="#!"
                        role="button"><i class="bi bi-google"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!"
                        role="button"><i class="bi bi-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!"
                        role="button"><i class="bi bi-linkedin"></i></a>
                    <!-- Github -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!"
                        role="button"><i class="bi bi-github"></i></a>
                </section>
                <!-- Section: Social media -->

                <!-- Section: CTA -->
                <section class="">
                    <p class="d-flex justify-content-center align-items-center">
                        <marquee width="80%" direction="left" class="me-3">
                            First List of Category B Admissions for AY2020-21.
                        </marquee>
                    </p>
                </section>
                <!-- Section: CTA -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                DLBCE
                <a class="text-white" href="https://mdbootstrap.com/"></a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </section>
    <!-- ending of footer -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>